body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247,233,220);
    font-family: "Nunito";
    padding: 40px 0 0 0;
}

hr{
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

.brown-text{
    color: rgb(181,176,170);
}

.percent-text{
    text-align: right;
    font-weight: bold;
}

.card{
    border-radius: 15px;
    width: 30%;
    padding: 30px;
    clear: both;
    margin: 10px auto;
}

.top-card{
    background-color: rgb(236,117,93);
    color: whitesmoke;
    align-items: center;
}

.bottom-card{
    background-color: whitesmoke;
}

.sub-heading{
    font-size: smaller;
}

.data-value{
    font-size: x-large;
    font-weight: bold;
    margin-top: 7px;
}

.large-data-value{
    font-size: 35px;
    font-weight: bolder;
}

.black-heading{
    color: black;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.circle{
    height: 50px;
    width: 50px;
    min-width: 1px;
    min-height: 1px;
    background-color: none;
    border-radius: 50%;
    top: 0px;
}

.circle-container{
    height: 50px;
    width: 75px;
    /* overflow: hidden; */
    position: relative;
}

.relative-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.white-circle{
    height: 46px;
    width: 46px;
    border: 2px solid whitesmoke;
    z-index: 2;
    position: absolute;
    left: 0px;
    
}

.black-circle{
    background-color: black;
    z-index: 1;
    top: 0px;
    right: 0px;
    position: absolute;
}

.graph-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    margin: auto;
    border-bottom: 2px solid rgba(181, 176, 170, 0.518);
    padding: 10px 0;
    margin-bottom: 20px;
}

.day-container{
    /* margin: 10px; */
    height: 200px;
    justify-items: center;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.graph-bar{
    /* height: 175px; */
    height: 40px;
    width: 80%;
    background-color: rgb(236,117,93);
    border-radius: 7px;
    margin: 5px 0;
}

.day-container:hover .graph-bar{
    background-color: rgb(235, 26, 200);
}

.day-container:hover .graph-amount{
    display: block;
}

.graph-amount{
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    height: auto;
    padding: 5px 0px;
    border-radius: 7px;
    display: none;
}

/* .graph-bar-value{
    height: 40px;
    width: 100%;
    border-radius: 7px;
    background-color: rgb(236,117,93);
    position: absolute;
    bottom: 0px;
} */

.graph-label{
    text-align: center;
    width: 100%;
}

