:root {
    --backColor: #363636;
    --lightGray: #464646;
    --lighterGray: #5b5b5b;
    --green: #55FF8F;
    --dark-green: #3AB162;
    --white: #D8D8D8;
}

body {
    background-color: var(--lightGray);
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    color: var(--green);
}

h2 {
    color: var(--white);
}

.title {
    /* text-align: center; */
    margin-top: 48px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.title h1 {
    font-size: 48px;
    margin-top: 0px;
}

.title h2 {
    font-size: 24px;
    margin-bottom: 0px;
}