.name-title{
    font-size: 2.5em;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

#table-of-contents{
    display: none;
}

.introduction-header{
    display: block;
    align-items: center;
    /* text-align: center; */
}

.nav-tab {
    /* padding: 2px;
    margin: 2px; */
    width: 50px;
}

.nav-bar {
    top: calc(100vh - 50px);
    justify-content: center;
}

.avatar{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


main {
    display: block;
}

.page {
    max-width: 90%;
    width: 90%;
}

.project-entry-div{
    display: block;
}

.project-entry-header {
    margin-top: 20px;
}

.project-entry-div img, .project-image {
    max-width: 300px;
    max-height: 250px;
}

.contact-fixed {
    flex-direction: column;
}

.contact-fixed svg {
    background-color: rgba(0,0,0,.4);
    border-radius: .375rem;
}

.contact-fixed .logo-svg {
    width: 44px;
    height: 44px;
}